<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	<bean id="deptObj" class="cn.mldn.mldnspring.di.vo.Dept">
		<property name="deptno" value="10"/>
		<property name="dname" value="财务部"/>
		<property name="enable" value="true"/> 
		<property name="infos">	<!-- 追加的是普通的字符串的数组信息 -->
			<set>
				<value>www.mldn.cn</value>
				<value>www.mldn.cn</value>
				<value>www.mldnjava.cn</value> 
			</set>
		</property>
		<property name="msgs">
			<list>
				<value>www.mldn.cn</value>
				<value>www.mldn.cn</value>
				<value>www.mldnjava.cn</value> 
			</list>
		</property>
	</bean>   
	<!-- 在Spring中负责进行MessageImpl类对象的实例化处理，这个时候相当于使用反射机制来实例化对象 -->
	<bean id="empA" class="cn.mldn.mldnspring.di.vo.Emp">
		<property name="empno" value="7369"/>
		<property name="ename" value="allen"/>
		<property name="salary" value="960.00"/>
	</bean>
	<bean id="empB" class="cn.mldn.mldnspring.di.vo.Emp">
		<property name="empno" value="7566"/>
		<property name="ename" value="Ford"/>
		<property name="salary" value="1250.00"/>
	</bean>    
</beans>
