<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- 现在的项目要求启动Annotation注解配置，此项随着新版本的更新，不写也可以使用 -->
	<context:annotation-config/>
	<!-- 定义注解的扫描包，也就是说你必须配置好扫描包之后才可以扫描该包中所有类上出现的注解信息 -->
	<!-- <context:component-scan base-package="cn.mldn.mldnspring.dao,cn.mldn.mldnspring.service"/> -->
	<context:component-scan base-package="cn.mldn.mldnspring"/>
</beans>
