<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	<bean id="pubstr" class="java.lang.String">
		<constructor-arg value="mldn出版社"/>
	</bean>
	<bean id="book" class="cn.mldn.mldnspring.spel.vo.Book">
		<property name="title" value="Java开发实战"/>
		<property name="pub" value="#{pubstr.toUpperCase()}"/>
		<property name="pubdate" value="#{new java.util.Date()}"/> 
	</bean>
</beans>  
