<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	<bean id="resourceBean" class="cn.mldn.mldnspring.resource.util.DefaultResourceBean">
		<property name="resource" value="http://localhost/mldn/mldn-data.txt"/>
	</bean> 
</beans>  
