<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- 将定时任务的调度类配置在Spring容器里面 -->
	<bean id="myTask" class="cn.mldn.mldnspring.schedule.task.MyTask"/>
	<task:scheduled-tasks>	<!-- 进行SpringTask任务的调度配置 -->
		<!-- <task:scheduled ref="myTask" method="runJobTask" fixed-rate="1000"/>	定义要使用的任务类 -->
		<task:scheduled ref="myTask" method="runTask" cron="* * * * * ?"/>	<!-- 定义要使用的任务类 -->
	</task:scheduled-tasks>
		
	<!-- 现在的项目要求启动Annotation注解配置，此项随着新版本的更新，不写也可以使用 -->
	<context:annotation-config/>
	<!-- 定义注解的扫描包，也就是说你必须配置好扫描包之后才可以扫描该包中所有类上出现的注解信息 -->
	<!-- <context:component-scan base-package="cn.mldn.mldnspring.dao,cn.mldn.mldnspring.service"/> -->
	<context:component-scan base-package="cn.mldn.mldnspring"/>
</beans>
